/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  nav ul{
    width: 500;
    display:flex;
    justify-content:space-around;
    background-color: #252525;
    height: 40px;
    border-style: dotted;
    padding-top:20px;
  }

  #get_history {
    position: absolute;
    min-height: 5vh;
    min-width: 10vh;
    border-radius: 20px;
    margin-left: calc(20rem);
    margin-top: 210px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1070px) {
  input[type=text] {
    width: 500;
    border-radius: 10px;
    justify-content: right;
    align-items: center;
    min-height: 10vh;
    min-width: 70vh;
    margin-left: (5rem);
  }

  #asym_decryption {
    position: absolute;
    min-height: 5vh;
    min-width: 10vh;
    margin-left: calc(20rem);
    border-radius: 20px;
    margin-top: 170px;
  }


  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 900px) {
  #asym_cipher {
    position: absolute;
    min-height: 5vh;
    min-width: 10vh;
    margin-left: calc(20rem);
    border-radius: 20px;
    margin-top: 130px;
  }
}

@media only screen and (max-width : 740px) {
  .button {
    position: absolute;
    min-height: 5vh;
    min-width: 10vh;
    margin-left: calc(20rem);
    border-radius: 20px;
    margin-top: 90px;
  }
}

/* Extra Small Devices, Phones */
@media screen and (max-device-width: 1200px)  {
  #open_key_field {
    width: 250px;
    display: block;
    border-radius: 10px;
    height: 5vh;
  }

  #private_key_field {
    width: 250px;
    display: block;
    height: 5vh;
    border-radius: 10px;
  }

}
